@charset "utf-8";
#wrap{min-width:1500px;padding-top:100px;}
#header{z-index:77;position:fixed;top:0;left:0;width:100%;min-width:1500px;height:100px;background:url('/img/common/header_bg.gif') center;border-bottom:1px solid #e5e5e5;}
#header .head_top{z-index:3;position:relative;width:1500px;margin:0 auto 0;}
#header .head_top h1{position:absolute;top:9px;left:20px;}
#header .head_top .top_sns{position:absolute;top:50px;left:210px;}
#header .head_top .top_sns a{display:inline-block;width:30px;height:30px;background-repeat:no-repeat;background-position:center;vertical-align:middle;}
#header .head_top .top_sns a.instar{background-image:url('/img/common/top_sns_icon_instar.png');}
#header .head_top .top_sns a.facebook{background-image:url('/img/common/top_sns_icon_facebook.png');}
#header .head_top .top_sns a i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
#header .head_top .blank_wrap{position:absolute;top:0;right:5px;}
#header .head_top .blank_wrap a{float:left;}
#header .head_top .g_nav{position:absolute;top:47px;right:20px;font-size:0;}
#header .head_top .g_nav a{display:inline-block;height:43px;overflow:hidden;}
#header .head_top .g_nav a img{position:relative;top:0;}
#header .head_top .g_nav a:focus img,
#header .head_top .g_nav a:hover img{top:-43px;}
#header .gnb{position:absolute;top:39px;width:100%;height:60px;text-align:center;font-size:0px;}
#header .gnb li{display:inline-block;}
#header .gnb li a{display:block;position:relative;overflow:hidden;}
#header .gnb > li > a{height:61px;}
#header .gnb > li > a i{
	content:"";position:absolute;top:22px;right:0;width:19px;height:22px;background:url('/img/common/gnb_fish.gif') no-repeat;opacity:0;filter:alpha(opacity=0);
	-o-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}
#header .gnb > li > a:focus i,
#header .gnb > li > a:hover i,
#header .gnb > li.active > a i{top:22px;opacity:1;filter:alpha(opacity=100);}
#header .gnb li ul{
	position:absolute;top:61px;left:0;width:100%;height:0;background:#fff;overflow:hidden;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header .gnb li ul li{
	margin-top:-50px;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header .gnb li ul li a{height:50px;overflow:hidden;}
#header .gnb li ul li a img{position:relative;top:0;}
#header .gnb li ul li a:focus img,
#header .gnb li ul li a:hover img,
#header .gnb li ul li.active a img{top:-50px;}

#header .gnb li.active ul{height:50px;}
#header .gnb li.active ul li{margin-top:0px;}

#footer{padding-bottom:50px;border-top:1px solid #b6b6b6;background-color:#fff;overflow:hidden;}
#footer > div{width:1500px;margin:0 auto;}
#footer.no_bort{border-top:0 none;}
#footer .addr{float:left;}
#footer .addr .bt_wrap{overflow:hidden;margin:45px 0 25px;}
#footer .addr .bt_wrap a{position:relative;float:left;padding:0 13px;color:#6e6e6e;}
#footer .addr .bt_wrap a:after{content:"";position:absolute;top:50%;left:0;width:1px;height:14px;margin-top:-7px;background-color:#e5e5e5;}
#footer .addr .bt_wrap a:first-child{padding-left:0;}
#footer .addr .bt_wrap a:first-child:after{display:none;}
#footer .addr .bt_wrap a span{color:#444;}
#footer .addr .copy{font-size:13px;color:#a5a5a5;}
#footer .f_s_log{float:right;margin-top:50px;}
#footer .f_s_log a{float:left;margin-left:10px;}