@charset "utf-8";
#header.active{top:-100px}
#header h1{
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header.active h1{
	opacity:0;filter:alpha(opacity=0);
	-o-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#header .gnb:before{content:"";position:absolute;top:61px;left:0;width:100%;height:50px;background-color:#fff;}
#header .scroll_head{position:absolute;top:100px;left:20px;}
#header .scroll_head .logo{
	position:absolute;top:-10px;left:0;opacity:0;filter:alpha(opacity=0);
	-o-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
#header .scroll_head .title{
	position:absolute;top:10px;left:45px;opacity:0;filter:alpha(opacity=0);
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header.active .scroll_head .logo{top:12px;opacity:1;filter:alpha(opacity=100);}
#header.active .scroll_head .title{left:25px;opacity:1;filter:alpha(opacity=100);}
#header .gnb_bt_all{
	position:absolute;top:110px;right:-30px;width:30px;padding-bottom:5px;border:0 none;background-color:transparent;opacity:0;filter:alpha(opacity=0);
	-o-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
#header.active .gnb_bt_all{right:20px;opacity:1;filter:alpha(opacity=100);}
#header .gnb_bt_all i{display:block;width:100%;height:3px;margin-top:5px;height:3px;background-color:#444;}
#header .gnb_bt_all span{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
#header .cs_nav{
	position:absolute;top:100px;left:0;width:100%;height:0px;text-align:center;font-size:0;overflow:hidden;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header .cs_nav a{
	display:inline-block;height:50px;margin-top:-50px;overflow:hidden;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#header .cs_nav.active{height:50px;}
#header .cs_nav.active a{margin-top:0;}
#header .cs_nav a img{position:relative;top:0;}
#header .cs_nav a.active img,
#header .cs_nav a:hover img{top:-50px}

#contents{width:1500px;margin:0 auto;padding:50px 0 80px;}
#contents.w1{width:100%;padding:50px 0 0;}

/* 매장찾기 */
.map_search_wrap{width:1400px;height:600px;margin:0 auto;border:1px solid #d8d8d8;overflow:hidden;}
.map_search_wrap .left_box{float:left;width:20%;height:100%;border-right:1px solid #d8d8d8;background-color:#fff;}
.map_search_wrap .left_box .title{height:60px;line-height:60px;padding:0 15px;background-color:#888888;font-size:20px;color:#fff;}
.map_search_wrap .data_form{padding:15px;background-color:#d8d8d8;}
.map_search_wrap .data_form .radio_box{overflow:hidden;}
.map_search_wrap .data_form .radio_box > div{position:relative;float:left;line-height:1;margin-bottom:10px;}
.map_search_wrap .data_form .radio_box > div.all{width:100%;}
.map_search_wrap .data_form .radio_box > div input{position:absolute;top:2px;left:2px;}
.map_search_wrap .data_form .radio_box > div label{position:relative;padding-left:23px;margin-right:10px;font-size:13px;cursor:pointer;}
.map_search_wrap .data_form .radio_box > div label i{position:absolute;top:0;left:0;width:18px;height:18px;background:url('/img/map/check_box1.gif') no-repeat center top;}
.map_search_wrap .data_form .radio_box > div input:checked + label i{background-position:0 -18px;}
.map_search_wrap .data_form .radio_box > div label.active i{background-position:0 -18px;}
.map_search_wrap .data_form .select_box{margin:0 -5px;}
.map_search_wrap .data_form .select_box:after{content:"";clear:both;display:block;height:0;line-height:0;}
.map_search_wrap .data_form .select_box div{float:left;width:55%;padding:0 5px;}
.map_search_wrap .data_form .select_box div:first-child{width:45%;}
.map_search_wrap .data_form .select_box div select{width:100%;padding:5px 3px;border:0 none;background-color:#fff;font-size:13px;}
.map_search_wrap .data_form .s_info_name_box{overflow:hidden;margin:10px -5px 0;}
.map_search_wrap .data_form .s_info_name_box > div{float:left;width:30%;padding:0 5px;}
.map_search_wrap .data_form .s_info_name_box > div:first-child{width:70%;}
.map_search_wrap .data_form .s_info_name_box input{width:100%;height:31px;line-height:31px;padding:5px;border:0 none;background-color:#fff;}
.map_search_wrap .data_form .s_info_name_box button{width:100%;height:31px;border:0 none;background-color:#bb1a29;color:#fff;}
.map_search_wrap .list_wrap{height:390px;overflow-y:scroll;}
.map_search_wrap .list_wrap .list_box{padding:0 10px 50px;}
.map_search_wrap .list_wrap .list_box > div{position:relative;line-height:1.4;padding:10px 10px;border-bottom:1px solid #d8d8d8;color:#888;cursor:pointer;}
.map_search_wrap .list_wrap .list_box > div.active{background-color:#f4f4f4;}
.map_search_wrap .list_wrap .list_box > div .info_name{margin-bottom:5px;font-size:16px;font-weight:bold;}
.map_search_wrap .list_wrap .list_box > div .info_type{position:absolute;bottom:10px;right:5px;width:20px;height:20px;background-position:0 0;background-repeat:no-repeat;}
.map_search_wrap .list_wrap .list_box > div .info_type i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.map_search_wrap .list_wrap .list_box > div .info_type.bg1{background-image:url('/img/map/map_icon_s1.png');}
.map_search_wrap .list_wrap .list_box > div .info_type.bg2{background-image:url('/img/map/map_icon_s2.png');}
.map_search_wrap .list_wrap .list_box > div .info_type.bg3{background-image:url('/img/map/map_icon_s3.png');}
.map_search_wrap .list_wrap .list_box > div .pin_modify{display:inline-block;margin-top:5px;padding:3px 10px;border:1px solid #ddd;background-color:#f4f4f4;}

.new_map_info{position:relative;padding:50px;margin-top:50px;background:url('/img/map/new_info_bg.jpg') no-repeat center;}
.new_map_info h1{position:absolute;top:50px;left:50px;width:137px;height:48px;background:url('/img/map/new_info_title.png') no-repeat center;}
.new_map_info h1 i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.new_map_info .info_slide{padding-left:430px;}
.new_map_info .info_slide:after{content:"";clear:both;display:block;height:0;line-height:0;}
.new_map_info .info_slide .roll li{float:left;}
.new_map_info .info_slide .roll li > div{position:relative;height:280px;padding:30px;background-color:#fff;}
.new_map_info .info_slide .roll li > div .info_name{position:relative;line-height:1.3;padding-bottom:15px;margin-bottom:25px;padding-top:60px;font-size:20px;color:#444;font-weight:bold;letter-spacing:-0.5px;}
.new_map_info .info_slide .roll li > div .info_name:after{content:"";position:absolute;bottom:0;left:0;width:30px;height:2px;background-color:#b29c7d;}
.new_map_info .info_slide .roll li > div .paddress1{padding-left:25px;background:url('/img/map/map_n_icon_pin.png') no-repeat left 5px;}
.new_map_info .info_slide .roll li > div .info_call{margin-top:5px;padding-left:25px;background:url('/img/map/map_n_icon_call.png') no-repeat left 5px;}
.new_map_info .info_slide .roll li > div .info_call{margin-top:5px;padding-left:25px;background:url('/img/map/map_n_icon_call.png') no-repeat left 5px;}
.new_map_info .info_slide .roll li > div .info_type{position:absolute;top:30px;left:30px;width:40px;height:40px;background-position:0 0;background-repeat:no-repeat;}
.new_map_info .info_slide .roll li > div .info_type i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.new_map_info .info_slide .roll li > div .info_type.bg1{background-image:url('/img/map/map_icon_b1.png');}
.new_map_info .info_slide .roll li > div .info_type.bg2{background-image:url('/img/map/map_icon_b2.png');}
.new_map_info .info_slide .roll li > div .info_type.bg3{background-image:url('/img/map/map_icon_b3.png');}
.new_map_info .info_slide .roll li > div .go_map{
	position:absolute;bottom:20px;right:30px;padding:1px 15px;border:1px solid #72522b;color:#72522b;background-color:transparent;font-size:13px;outline:none;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}
.new_map_info .info_slide .roll li > div .pin_modify{position:absolute;top:20px;right:20px;margin-top:5px;padding:3px 10px;border:1px solid #ddd;background-color:#f4f4f4;}
.new_map_info .info_slide .roll li > div .go_map:hover,
.new_map_info .info_slide .roll li > div .go_map:focus{background-color:#72522b;color:#fff;}
.new_map_info .info_slide .bx-controls-direction{position:absolute;top:120px;left:50px;}
.new_map_info .info_slide .bx-controls-direction a{display:inline-block;width:25px;height:25px;background-repeat:no-repeat;background-position:0 0;}
.new_map_info .info_slide .bx-controls-direction a i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.new_map_info .info_slide .bx-controls-direction a.bx-prev{margin-right:10px;background:url('/img/map/map_bt_arrow_left.png');}
.new_map_info .info_slide .bx-controls-direction a.bx-next{background:url('/img/map/map_bt_arrow_right.png');}
.new_map_info .info_slide .bx-controls-direction a.active{background-position:0 -25px;}

.map_search_wrap .right_box{float:right;width:80%;height:100%;}
#dmap{width:100%;height:100%;}
#dmap .map_pin_info,
#dmap .map_pin_info *{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	word-break:break-all;
	line-height:1.2;
	white-space: normal;
}
#dmap .map_pin_info{position:absolute;bottom:55px;width:360px;margin-left:-180px;padding:20px;color:#fff;
	background:rgba(0, 0, 0, 0.7);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000)";
}
#dmap .map_pin_info:after{
	content:"";position:absolute;top:100%;left:50%;margin-left:-10px;opacity:0.7;filter:alpha(opacity=70);
	width: 0px;height:0px;
	border-top:10px solid #000;
	border-bottom:10px solid none;
	border-right: 10px solid transparent;
	border-left: 10px solid  transparent;
}
#dmap .map_pin_info .pin_info{font-size:16px;padding-right:100px;}
#dmap .map_pin_info .pin_addr{margin-top:10px;font-size:12px;}
#dmap .map_pin_info .pin_call{margin-top:5px;font-size:12px;}
#dmap .map_pin_info .pin_link1{
	position:absolute;top:50px;right:20px;padding:5px 15px;border:1px solid #ddd;font-size:12px;color:#fff;text-decoration:none;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	background:rgba(255, 255, 255, 0.3);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff)";
}
#dmap .map_pin_info .pin_link2{position:absolute;top:15px;right:20px;padding:10px 0 10px 25px;background:url('/img/map/naver_icon1.gif') no-repeat left;font-size:12px;color:#fff;text-decoration:none;}

.postcode_wrap{}
.postcode_wrap input[type="text"]{margin:5px 0 !important;}
.postcode_wrap .postcode_bt input[type="button"]{display:inline-block;padding:14px 15px;margin-left:10px;border:0 none;background-color:#bb1a29;color:#fff;cursor:pointer;}

.s3_wrap1{}
.s3_wrap1 > div{position:relative;background-position:center top;background-repeat:no-repeat;background-color:#000;}
.s3_wrap1 .section_top .bt_wrap{position:absolute;top:550px;left:50%;width:770px;margin-left:-385px;overflow:hidden;}
.s3_wrap1 .section_top .bt_wrap > div{float:left;width:33.3333%;padding:0 15px;}
.s3_wrap1 .section_top .bt_wrap > div a{
	display:block;width:100%;height:60px;background-color:#000;
	-o-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.s3_wrap1 .section_top .bt_wrap > div a:after{content:"";display:block;width:100%;height:100%;background-position:center;background-repeat:no-repeat;}
.s3_wrap1 .section_top .bt_wrap > div a i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}

.s3_wrap1 .section1 .slider_wrap{position:relative;width:1280px;height:520px;margin:0 auto;margin-top:65px;overflow:hidden;}
.s3_wrap1 .section1 .slider_wrap > div{z-index:1;position:absolute;width:100%;background-color:#fff;}
.s3_wrap1 .section1 .slider_wrap > div.active{z-index:2;}
.s3_wrap1 .section1 .slider_wrap .bx-controls-direction a{position:absolute;top:50%;width:50px;height:50px;margin-top:-25px;background-repeat:no-repeat;background-position:0 0;}
.s3_wrap1 .section1 .slider_wrap .bx-controls-direction a.active{background-position:0 -50px;}
.s3_wrap1 .section1 .slider_wrap .bx-controls-direction a i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.s3_wrap1 .section1 .slider_wrap .bx-prev{left:0px;background-image:url('/img/s3/slide_arr_bt_prev.png');}
.s3_wrap1 .section1 .slider_wrap .bx-next{right:0px;background-image:url('/img/s3/slide_arr_bt_next.png');}
.s3_wrap1 .section3{padding-top:40px;}
.s3_wrap1 .section3 .map_search_wrap{position:relative;width:100%;padding-left:290px;border-left:0 none;border-right:0 none;}
.s3_wrap1 .section3 .map_search_wrap .left_box,
.s3_wrap1 .section3 .map_search_wrap .right_box{float:none;}
.s3_wrap1 .section3 .map_search_wrap .left_box{position:absolute;top:0;left:0;width:290px;border-left:0 none;}
.s3_wrap1 .section3 .map_search_wrap .list_wrap{height:435px;}
.s3_wrap1 .section3 .map_search_wrap .right_box{width:100%;}

.s3_wrap1.s3s2 .section_top{height:710px;background-image:url('/img/s3/s3s2_bg1.jpg');}
.s3_wrap1.s3s2 .section_top .bt_wrap a{border:1px solid #d20808;}
.s3_wrap1.s3s2 .section_top .bt_wrap a:focus,
.s3_wrap1.s3s2 .section_top .bt_wrap a:hover{background-color:#d20808;border:1px solid #fff;}
.s3_wrap1.s3s2 .section_top .bt_wrap .s1 a:after{background-image:url('/img/s3/s3s2_se1_title1.png');}
.s3_wrap1.s3s2 .section_top .bt_wrap .s2 a:after{background-image:url('/img/s3/s3s2_se1_title2.png');}
.s3_wrap1.s3s2 .section_top .bt_wrap .s3 a:after{background-image:url('/img/s3/s3s2_se1_title3.png');}
.s3_wrap1.s3s2 .section1{height:1340px;background-image:url('/img/s3/s3s2_bg2.jpg');}
.s3_wrap1.s3s2 .section1 .bt_wrap{width:1280px;margin:0 auto;padding-top:300px;overflow:hidden;}
.s3_wrap1.s3s2 .section1 .bt_wrap > div{float:left;width:25%;padding:0 35px;}
.s3_wrap1.s3s2 .section1 .bt_wrap > div a{display:block;width:267px;height:304px;margin:0 auto;background-position:0 0;background-repeat:no-repeat;}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.active a,
.s3_wrap1.s3s2 .section1 .bt_wrap > div a:hover,
.s3_wrap1.s3s2 .section1 .bt_wrap > div a:focus{background-position:-267px 0;}
.s3_wrap1.s3s2 .section1 .bt_wrap > div a i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s1 a{background-image:url('/img/s3/s3s2_se2_bt1.png');}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s2 a{background-image:url('/img/s3/s3s2_se2_bt2.png');}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s3 a{background-image:url('/img/s3/s3s2_se2_bt3.png');}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s4 a{background-image:url('/img/s3/s3s2_se2_bt4.png');}
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s1,
.s3_wrap1.s3s2 .section1 .bt_wrap > div.s3{padding-top:38px;}
.s3_wrap1.s3s2 .section2{height:1403px;background-image:url('/img/s3/s3s2_bg3.jpg');}
.s3_wrap1.s3s2 .section2 .bt_wrap{width:997px;margin:0 auto;padding-top:455px;overflow:hidden;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div{float:left;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div{position:relative;background-position:0 0;background-repeat:no-repeat;cursor:pointer;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div.bt1 > div{width:505px;height:825px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div.bt2 > div{width:246px;height:491px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div.bt3 > div{width:246px;height:245px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div.bt4 > div{width:246px;height:246px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div.bt5 > div{width:492px;height:334px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div:before{
	content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0;filter:alpha(opacity=0);
	-o-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div *{
	position:absolute;top:50%;left:50%;
	-o-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div .title{margin-left:-120px;margin-top:-25px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div .copy{margin-left:-120px;opacity:0;filter:alpha(opacity=0);margin-top:30px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div a{width:116px;height:33px;line-height:33px;background-color:#fff;margin-left:-58px;margin-top:90px;opacity:0;filter:alpha(opacity=0);font-size:11px;text-decoration:none;text-align:center;font-weight:bold;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div a:hover{background-color:#000;color:#fff;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div.active:before{opacity:0.8;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div.active .title{margin-top:-55px;}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div.active .copy{margin-top:-10px;opacity:1;filter:alpha(opacity=100);}
.s3_wrap1.s3s2 .section2 .bt_wrap > div > div.active a{margin-top:35px;opacity:1;filter:alpha(opacity=100);}
.s3_wrap1.s3s2 .section3{background-image:url('/img/s3/s3s2_bg4.jpg');}

.s3_wrap1.s3s3 .section_top{height:710px;background-image:url('/img/s3/s3s3_bg1.jpg');}
.s3_wrap1.s3s3 .section_top .bt_wrap a{border:1px solid #d36603;}
.s3_wrap1.s3s3 .section_top .bt_wrap a:focus,
.s3_wrap1.s3s3 .section_top .bt_wrap a:hover{background-color:#d36603;border:1px solid #fff;}
.s3_wrap1.s3s3 .section_top .bt_wrap .s1 a:after{background-image:url('/img/s3/s3s3_se1_title1.png');}
.s3_wrap1.s3s3 .section_top .bt_wrap .s2 a:after{background-image:url('/img/s3/s3s3_se1_title2.png');}
.s3_wrap1.s3s3 .section_top .bt_wrap .s3 a:after{background-image:url('/img/s3/s3s3_se1_title3.png');}
.s3_wrap1.s3s3 .section1{height:1024px;padding-top:290px;background-image:url('/img/s3/s3s3_bg2.jpg');}
.s3_wrap1.s3s3 .section1 .slider_wrap{margin-top:0;}
.s3_wrap1.s3s3 .section2{height:1244px;padding-top:355px;background-image:url('/img/s3/s3s3_bg3.jpg');}
.s3_wrap1.s3s3 .section3{background-image:url('/img/s3/s3s3_bg4.jpg');}

.s3_wrap1.s3s4 .section_top{height:710px;background-image:url('/img/s3/s3s4_bg1.jpg');}
.s3_wrap1.s3s4 .section_top .bt_wrap{width:870px;margin-left:-435px;}
.s3_wrap1.s3s4 .section_top .bt_wrap a{border:1px solid #d60051;}
.s3_wrap1.s3s4 .section_top .bt_wrap a:focus,
.s3_wrap1.s3s4 .section_top .bt_wrap a:hover{background-color:#d60051;border:1px solid #fff;}
.s3_wrap1.s3s4 .section_top .bt_wrap .s1 a:after{background-image:url('/img/s3/s3s4_se1_title1.png');}
.s3_wrap1.s3s4 .section_top .bt_wrap .s2 a:after{background-image:url('/img/s3/s3s4_se1_title2.png');}
.s3_wrap1.s3s4 .section_top .bt_wrap .s3 a:after{background-image:url('/img/s3/s3s4_se1_title3.png');}
.s3_wrap1.s3s4 .section1{height:1189px;background-image:url('/img/s3/s3s4_bg2.jpg');}
.s3_wrap1.s3s4 .section2{height:1678px;padding-top:450px;background-image:url('/img/s3/s3s4_bg3.jpg');}
.s3_wrap1.s3s4 .section2 .bt_wrap{width:1388px;margin:0 auto;overflow:hidden;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div{float:left;padding:15px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.mart1{margin-top:-377px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.mart1.s1{margin-left:0;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.mart1.s2{margin-left:346px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.mart1.s3{margin-left:694px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div{position:relative;padding-bottom:95px;background-color:#f8b62b;overflow:hidden;cursor:pointer;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy{
	position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;
	-o-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	background:rgba(0, 0, 0, 0);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy *{
	-o-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy:after{
	-o-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy:after{content:"";position:absolute;top:230px;left:50%;width:46px;height:46px;margin-left:-23px;background:url('/img/s3/s3s4_icon.png') no-repeat center;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy .title{position:relative;margin-top:283px;height:37px;overflow:hidden;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy .title img{position:relative;top:0;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy a{opacity:0;filter:alpha(opacity=0);display:inline-block;width:116px;height:33px;line-height:33px;background-color:#fff;margin-top:10px;font-size:11px;text-decoration:none;text-align:center;font-weight: bold;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div .copy a:hover{background:#bc9b69;color:#fff;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div.active .copy{
	background:rgba(0, 0, 0, 0.8);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div.active .copy:after{top:90px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div.active .copy .title{margin-top:150px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div.active .copy .title img{position:relative;top:-37px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div > div.active .copy a{opacity:1;filter:alpha(opacity=100);}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.h1 > div .copy:after{top:605px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.h1 > div .copy .title{margin-top:660px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.h1 > div.active .copy:after{top:290px;}
.s3_wrap1.s3s4 .section2 .bt_wrap > div.h1 > div.active .copy .title{margin-top:350px;}
.s3_wrap1.s3s4 .section2 .pop_wrap{display:none;position:absolute;top:0;left:0;width:100%;height:100%;padding-top:540px;
	background:rgba(0, 0, 0, 0.8);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
}
.s3_wrap1.s3s4 .section2 .pop_wrap > div{position:relative;width:1360px;margin:0 auto;}
.s3_wrap1.s3s4 .section2 .pop_wrap > div:after{
	content:"";position:absolute;top:0;left:0;width:100%;height:100%;border:3px solid #f8b62b;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.s3_wrap1.s3s4 .section2 .pop_wrap > div button{z-index:2;position:absolute;top:42px;right:47px;width:92px;height:92px;border:0 none;background:url('/img/s3/s3s4_pop_close.png') no-repeat;}
.s3_wrap1.s3s4 .section2 .pop_wrap > div button i{position:absolute;top:-2000px;left:-2000px;font-size:1px;text-indent:-2000px;}
.s3_wrap1.s3s4 .section2 .pop_wrap > div img{width:100%;height:auto;}
.s3_wrap1.s3s4 .section3{background-image:url('/img/s3/s3s4_bg4.jpg');}
.s3_wrap1.s3s4 .section3 .map_search_wrap{padding-left:0;}


/* 20180223 rich 추가 */
/* layout 공통 */
.wrap_style1{padding:60px 0 50px;background-color:#f5f4f0;}
.wrap_style2{padding:60px 0 50px;}
.wrap_style_s2{position:relative;padding:60px 0 395px;background:#f5f4f0 url("/img/s2/s2_bg1.png") no-repeat 50% 95%;}
.wrap_style_s2{text-align:center;}
.heading_s1{padding-bottom:47px;text-align:center;}
.heading_s1.mab1{padding-bottom:20px;}
.heading_s1 .desc{margin-top:14px;}
.heading_s2{padding-bottom:20px;text-align:center;}

.con_wrapStyle1{position:relative;width:1080px;margin:0 auto;}
.con_wrapStyle1.w1{width:1280px}
.con_wrapStyle2{position:relative;width:1000px;margin:20px auto 0;}
.con_wrapStyle3{position:relative;width:1360px;margin:0 auto;}
.inner1{width:1080px;margin:0 auto;}

/* btn 공통 */
.bt_s1_gray,
.bt_s1_red{display:inline-block;min-width:140px;line-height:1;padding:12px 20px 11px;font-size:18px;color:#fff !important;border:0 none;vertical-align:middle;}
.bt_s1_gray,
.bt_s1_gray:hover,
.bt_s1_gray:focus{background-color:#666;}
.bt_s1_red,
.bt_s1_red:hover,
.bt_s1_red:focus{background-color:#bb1a29;}

.bt_s2_gray,
.bt_s2_red{display:inline-block;line-height:1;padding:12px 24px;font-size:16px;color:#fff !important;border:0 none;vertical-align:middle;}
.bt_s2_gray,
.bt_s2_gray:hover,
.bt_s2_gray:focus{background-color:#888;}
.bt_s2_red,
.bt_s2_red:hover,
.bt_s2_red:focus{background-color:#bb1a29;}

.bt_s3_bdrGray{position:relative;padding:6px 24px 7px;font-size:14px;color:#666;border:1px solid #d8d8d8;}
.bt_s3_bdrGray{background:#f7f7f7;}
.bt_s3_bdrGray.left:before{content:'';display:inline-block;width:5px;height:9px;margin-right:5px;padding-bottom:1px;background:url("/img/common/bt_arr_view.png") no-repeat 0 0;}
.bt_s3_bdrGray.right:after{content:'';display:inline-block;width:5px;height:9px;margin-left:5px;padding-bottom:1px;background:url("/img/common/bt_arr_view.png") no-repeat -10px 0;}

/* position */
.center_wrap{text-align:center;}
.bt_LR_wrap{overflow:hidden;}
.bt_LR_wrap .f_right{float:right;padding-top:20px;}
.bt_LR_wrap .f_right a,
.bt_LR_wrap .f_right button{margin-left:6px;}
.bt_LR_wrap .f_left{float:left;padding-top:20px;}
.bt_LR_wrap .f_left a,
.bt_LR_wrap .f_left button{margin-right:6px;}

/* 검색영역 */
.e_sh select,
.e_sh input[type="text"],
.e_sh .bt_srh{height:30px;}
.e_sh select,
.e_sh input[type="text"]{border:1px solid #d8d8d8;}
.e_sh select{padding-left:4px;background-color:#f7f7f7;font-size:14px;color:#666;}
.e_sh input[type="text"]{padding-left:10px;font-size:14px;color:#666;}
.e_sh .bt_srh{margin-left:6px;padding:0 17px;background:#bb1a29;border:inherit;font-size:14px;color:#fff;}

/* 페이징 */
.paging{padding:50px 00;text-align:center;font-size:0;}
.paging .bt_prev,
.paging .bt_next,
.paging .paing{display:inline-block;vertical-align:middle;}
.paging .bt_prev,
.paging .bt_next{
	width:21px;height:21px;margin:0 10px;border:inherit;background-color:#bbb;background-position:50% 50%;background-repeat:no-repeat;text-indent:-9999px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.paging .bt_prev{background-image:url("/img/common/bt_pg_prev.png");}
.paging .bt_next{background-image:url("/img/common/bt_pg_next.png");}
.paging .paing{overflow:hidden;}
.paging .paing > li{float:left;}
.paging .paing > li a,
.paging .paing > li strong{display:block;padding:5px;margin:0 5px;font-size:14px;color:#666;line-height:1;}
.paging .paing > li.active a,
.paging .paing > li.active strong{color:#72522b;}

/* 고객의 소리 */
.cst_con{padding:25px 0;border-bottom:1px solid #ccc;}
.cst_con:first-child{border-top:1px solid #ccc;}
.cst_rWrap{margin:30px auto 0;text-align:right;}
.cst_rWrap button + button{margin-left:6px;}

/* 고객의소리 개인정보 수집 동의 */
.agree_wrap{}
.agree_wrap .tit{padding-bottom:5px;font-size:16px;font-weight:400;color:#666;}
.agree_wrap .info_wrap{overflow-y:auto;height:120px;padding:20px 18px;border:1px solid #d8d8d8;background-color:#fff;}
.agree_wrap .in_agree{position:relative;margin-top:10px;padding-bottom:10px;}
.agree_wrap .in_agree input[type="checkbox"]{position:absolute;top:3px;left:1px;}
.agree_wrap .in_agree label{position:relative;padding-left:40px;font-size:16px;color:#666;cursor:pointer;}
.agree_wrap .in_agree label i{overflow:hidden;content:"";position:absolute;top:-4px;left:0;width:30px;height:30px;background:url("/img/common/chk_box1.png") no-repeat;}
.agree_wrap .in_agree input[type="checkbox"]:checked + label i{background-position:0 -30px;}
.agree_wrap .in_agree label.active i{background-position:0 -30px;}

/* 이벤트 list */
.evt_wrap{border-top:2px solid #888;}
.evt_wrap.bg1{background-color:#fff;}
.evt_wrap > li{display:table;width:100%;padding:20px 0;border-bottom:1px solid #ccc;}
.evt_wrap > li.evt_li{padding:20px 15px;}
.evt_wrap > li .img_wrap,
.evt_wrap > li .txt_wrap{display:table-cell;}
.evt_wrap > li .img_wrap{vertical-align:middle;}
.evt_wrap > li .img_wrap .img_in{overflow:hidden;width:502px;height:152px;border:1px solid #d8d8d8;}
.evt_wrap > li .img_wrap .img_in img{width:100%;height:auto;}
.evt_wrap > li .txt_wrap{position:relative;width:1000px;padding:23px 150px 30px 40px;height:100%;vertical-align:top;}
.evt_wrap > li .txt_wrap .tit{font-size:17px;color:#444;}
.evt_wrap > li .txt_wrap .tit a{color:#444;}
.evt_wrap > li .txt_wrap .desc{margin-top:9px;font-size:14px;color:#888;}
.evt_wrap > li .txt_wrap .mk_ing,
.evt_wrap > li .txt_wrap .mk_end{
	position:absolute;top:50%;right:0;width:100px;margin-top:-15px;padding:3px 0 4px;border:1px solid transparent;font-size:13px;text-align:center;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
.evt_wrap > li .txt_wrap .mk_ing{border-color:#bb1a29;color:#bb1a29;}
.evt_wrap > li .txt_wrap .mk_end{border-color:#888;color:#666;}
/* view */
.evt_wrap.view > li .txt_wrap .mk_ing,
.evt_wrap.view > li .txt_wrap .mk_end{right:40px;}
.evt_wrap.view > li.view_wrap{padding:70px 40px;}
.evt_wrap.view > li.view_wrap img{max-width:100%;}
.evt_wrap.view > li .txt_wrap .mk_ing2{
	position: absolute;top: 50%;right: 40px;width: 100px;margin-top: -15px;padding: 3px 0 4px;border: 1px solid transparent;border-color:#72522b;color:#72522b;font-size: 13px;text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* table */
.board_style1{table-layout:fixed;width:100%;font-size:0;}
.board_style1 input[type="text"],
.board_style1 select,
.board_style1 textarea{border:1px solid #d8d8d8;background:#fff;width:100%;font-size:16px;color:#888;}
.board_style1 input[type="text"],
.board_style1 select{height:50px;margin-left:2%;padding:12px 0 12px 6px;}
.board_style1 select{line-height:46px;}
.board_style1 input[type="text"]:first-child,
.board_style1 select:first-child{margin-left:0;}
.board_style1 textarea{padding:8px 6px;resize:none;}
.board_style1 textarea + iframe{border:1px solid #ddd;}
.board_style1 .at{display:inline-block;font-size:16px;color:#888;text-align:center;vertical-align:middle;}
.board_style1 .at + input,
.board_style1 .at + select{margin-left:0;}
.board_style1 th,
.board_style1 td{padding:5px 0;font-weight:400;}
.board_style1 th{font-size:16px;color:#666;text-align:left;}
.board_style1 .adFile_wrap{position:relative;width:100%;height:50px;padding-right:150px;border:1px solid #d8d8d8;background-color:#fff;text-align:right;}
.board_style1 .adFile_wrap .bt_fileUp{position:absolute;top:14px;right:20px;padding-left:10px;border:0 none;background-color:transparent;font-size:16px;color:#888;cursor:pointer;}
.board_style1 .adFile_wrap .bt_fileUp:after{content:'';position:absolute;left:0;top:50%;width:1px;height:16px;margin-top:-8px;background:#9b9b9b;}
.board_style1 .adFile_wrap input[type="text"]{width:100%;height:100%;border:0 none;}
.board_style1 .adFile_wrap input[type="file"]{display:none;}
.board_style1 .text1{font-size:14px;}

.board_style2{}
.board_style2 thead th,
.board_style2 tbody td{padding:15px;}
.board_style2 thead th{background-color:#d7d7d7;}
.board_style2 tbody td{border-bottom:1px solid #d8d8d8;background-color:#fff;text-align:center;}
.board_style2 tbody td.left{text-align:left;}
.board_style2 tbody td a{overflow:hidden;display:block;padding-right:100px;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}

/* admin (글쓰기) */
.admin_bt{margin-bottom:10px;text-align:right;}
.admin_bt.padr1{padding-right:50px;}
.admin_bt .w_edit{display:inline-block;padding:8px 28px;border:1px solid #bdbdbd;background:#eee;font-size:14px;color:#333;}

/* radio_wrap */
.radio_wrap{overflow:hidden;font-size:16px;}
.radio_wrap > div{position:relative;float:left;margin-right:15px;}
.radio_wrap input{z-index:1;position:absolute;top:1px;left:1px;}
.radio_wrap label{z-index:2;display:inline-block;position:relative;height:30px;line-height:30px;padding-left:40px;cursor:pointer;}
.radio_wrap label i{content:"";position:absolute;top:0;left:0;width:30px;height:30px;background:url('/img/common/chk_box1.png') no-repeat;}
.radio_wrap input:checked + label i{background-position:0 -30px;}
.radio_wrap label.active i{background-position:0 -30px;}

/* sns */
.social_stream_wrap{padding:0 80px;}
.social_stream{min-height:500px;}
.social_stream .stream{margin:0 -10px;}
.social_stream .stream li{width:20%;padding:0 10px;margin:10px 0;}
.social_stream .stream li .inner{
	width:100%;background-color:#fff;overflow:hidden;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.social_stream .stream li .section-intro{padding:32px 20px 10px;color:#7a7a7a;font-size:12px;}
.social_stream .stream li .section-thumb img{width:100%;height:auto;}
.social_stream .stream li .section-text{
	display:-webkit-box;line-height:1.3em;height:3.9em;padding:0 15px;margin:15px 0;overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
.social_stream .stream li .section-user{position:absolute;top:10px;left:30px;color:#111;font-weight:bold;}

/* s1 banner-list */
.wrap_bigban{position:relative;width:100%;height:100%;overflow:hidden;}
.wrap_bigban:after{content:'';position:absolute;top:0;left:50%;width:1px;height:100%;background-color:#f2f2f2;}
.wrap_bigban > li {overflow:hidden;position:relative;float:left;width:50%;height:460px;cursor:pointer;}
.wrap_bigban > li .img_wrap{z-index:10;position:relative;overflow:hidden;width:100%;height:262px;}
.wrap_bigban > li .img_wrap .img_in{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size: 100%;
-webkit-transition:transform 0.5s;-moz-transition:transform 0.5s;-o-transition:transform 0.5s;transition:transform 0.5s;
-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);
}
.wrap_bigban > li.active .img_wrap .img_in,
.wrap_bigban > li:hover .img_wrap .img_in,
.wrap_bigban > li:focus .img_wrap .img_in{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
.wrap_bigban > li .img_wrap .img_in.img1{background-image:url("/img/s1/s1s3_image1.jpg");}
.wrap_bigban > li .img_wrap .img_in.img2{background-image:url("/img/s1/s1s3_image2.jpg");}
.wrap_bigban > li .img_wrap .img_in.img3{background-image:url("/img/s1/s1s3_image3.jpg");}
.wrap_bigban > li .img_wrap .img_in.img4{background-image:url("/img/s1/s1s3_image4.jpg");}
.wrap_bigban > li .txt_wrap{padding:26px;background:#fff;text-align:center;}
.wrap_bigban > li .txt_wrap .b_desc{margin-top:19px;}
.wrap_bigban > li .txt_wrap .bt_view{z-index:30;position:relative;display:inline-block;width:120px;height:29px;margin-top:34px;padding:5px 0 5px;background-color:#231f20;color:#fff;font-size:11px;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.wrap_bigban > li .txt_wrap .bt_view:focus,
.wrap_bigban > li .txt_wrap .bt_view:hover{background-color:#b11d29;}
/* s2 content-wrap */
.con_wrap_s2{width:1384px;margin:0 auto;}
.con_wrap_s2.s2_menu{text-align:center;}
.con_wrap_s2.s2_menu > img{margin-top:52px;}
.con_wrap_s2.s2_menu > img:first-child{margin-top:16px;}

/* s2 banner-list */
.ban_style_s2{}
.ban_style_s2:after{display:block;content:'';clear:both;}
.ban_style_s2 > li {float:left;padding:15px;}
.ban_style_s2 > li.pos_last{position:absolute;right:58px;bottom:19px;}
.ban_style_s2 .in_style{position:relative;cursor:pointer;}
.ban_style_s2 .in_style .hover_view{
	position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	background:rgba(0, 0, 0, 0);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
}
.ban_style_s2 .in_style.active .hover_view,
.ban_style_s2 .in_style:focus .hover_view,
.ban_style_s2 .in_style:hover .hover_view{
	background:rgba(0, 0, 0, 0.6);
	background:transparent\9;
	/* IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.ban_style_s2 .hover_view .center_link{display:table;width:100%;height:100%;}
.ban_style_s2 .hover_view .center_link .in{display:table-cell;vertical-align:middle;}
.ban_style_s2 .hover_view .center_link .in *{
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ban_style_s2 .in_style .hover_view .bt_more{display:inline-block;opacity:0;filter:alpha(opacity=0);width:116px;height:33px;line-height:33px;background-color:#fff;margin-top:20px;font-size:11px;text-decoration:none;text-align:center;font-weight: bold;}
.ban_style_s2 .in_style .hover_view .bt_more:hover{background:#bc9b69;color:#fff;}
.ban_style_s2 .in_style.active .hover_view .bt_more,
.ban_style_s2 .in_style:hover .hover_view .bt_more,
.ban_style_s2 .in_style:focus .hover_view .bt_more{margin-top:0px;opacity:1;filter:alpha(opacity=100);}
.ban_style_s2 .in_style .hover_view h3.type1{opacity:0;filter:alpha(opacity=0);background-position:50% -35px;}
.ban_style_s2 .in_style .hover_view h3.type2{opacity:0;filter:alpha(opacity=0);background-position:50% -37px;}
.ban_style_s2 .in_style.active .hover_view h3,
.ban_style_s2 .in_style:hover .hover_view h3.hover,
.ban_style_s2 .in_style:focus .hover_view h3.hover{opacity:1;filter:alpha(opacity=100);}
.ban_style_s2 .tit_box{width:100%;height:94px;line-height:113px;background:#fff;}
.ban_style_s2 h3{overflow:hidden;display:inline-block;background-position:50% 0;background-repeat:no-repeat;text-align:center;}
.ban_style_s2 h3.type1{width:100%;height:35px;}
.ban_style_s2 h3.type2{width:100%;height:37px;}
.ban_style_s2 h3.tit_s2s1_1{background-image:url("/img/s2/s2s1_title1.png")}
.ban_style_s2 h3.tit_s2s1_2{background-image:url("/img/s2/s2s1_title2.png")}
.ban_style_s2 h3.tit_s2s1_3{background-image:url("/img/s2/s2s1_title3.png")}
.ban_style_s2 h3.tit_s2s1_4{background-image:url("/img/s2/s2s1_title4.png")}
.ban_style_s2 h3.tit_s2s2_1{background-image:url("/img/s2/s2s2_title1.png")}
.ban_style_s2 h3.tit_s2s2_2{background-image:url("/img/s2/s2s2_title2.png")}
.ban_style_s2 h3.tit_s2s2_3{background-image:url("/img/s2/s2s2_title3.png")}
.ban_style_s2 h3.tit_s2s2_4{background-image:url("/img/s2/s2s2_title4.png")}
.ban_style_s2 h3.tit_s2s2_5{background-image:url("/img/s2/s2s2_title5.png")}
.ban_style_s2 h3.tit_s2s2_6{background-image:url("/img/s2/s2s2_title6.png")}
.ban_style_s2 h3.tit_s2s3_1{background-image:url("/img/s2/s2s3_title1.png")}
.ban_style_s2 h3.tit_s2s3_2{background-image:url("/img/s2/s2s3_title2.png")}
.ban_style_s2 h3.tit_s2s3_3{background-image:url("/img/s2/s2s3_title3.png")}
.ban_style_s2 h3.tit_s2s3_4{background-image:url("/img/s2/s2s3_title4.png")}
.ban_style_s2 h3.tit_s2s3_5{background-image:url("/img/s2/s2s3_title5.png")}
.ban_style_s2 h3.tit_s2s3_6{background-image:url("/img/s2/s2s3_title6.png")}
.ban_style_s2 h3.tit_s2s4_1{background-image:url("/img/s2/s2s4_title1.png")}
.ban_style_s2 h3.tit_s2s4_2{background-image:url("/img/s2/s2s4_title2.png")}
.ban_style_s2 h3.tit_s2s4_3{background-image:url("/img/s2/s2s4_title3.png")}
.ban_style_s2 h3.tit_s2s4_4{background-image:url("/img/s2/s2s4_title4.png")}
.ban_style_s2 h3.tit_s2s4_5{background-image:url("/img/s2/s2s4_title5.png")}
.ban_style_s2 h3.tit_s2s4_6{background-image:url("/img/s2/s2s4_title6.png")}
.ban_style_s2 h3.tit_s2s6_1{background-image:url("/img/s2/s2s6_title1.png")}
.ban_style_s2 h3.tit_s2s6_2{background-image:url("/img/s2/s2s6_title2.png")}
.ban_style_s2 h3.tit_s2s6_3{background-image:url("/img/s2/s2s6_title3.png")}
.ban_style_s2 h3.tit_s2s6_4{background-image:url("/img/s2/s2s6_title4.png")}
.ban_style_s2 h3.tit_s2s6_5{background-image:url("/img/s2/s2s6_title5.png")}

/* s2 banner-view */
.dep_third .dep_third_comm1{padding:68px 0 60px;text-align:center;}
.dep_third .dep_third_foot{width:100%;min-height:677px;padding-top:200px;background-repeat:no-repeat;background-position:0 0;}
.dep_third .dep_third_foot.s2s1{background-image:url("/img/s2/s2s1s1_image2.jpg")}
.dep_third .dep_third_foot.s2s2{background-image:url("/img/s2/s2s2s1_image2.jpg")}
.dep_third .dep_third_foot.s2s3{background-image:url("/img/s2/s2s3s1_image2.jpg")}
.dep_third .dep_third_foot.s2s4{background-image:url("/img/s2/s2s4s1_image2.jpg")}
.dep_third .dep_third_foot.s2s6{background-image:url("/img/s2/s2s6s1_image2.jpg")}
.dep_third .dep_third_foot a{display:block;margin:27px auto 0;background-repeat:no-repeat;}
.dep_third .dep_third_foot a:first-child{margin-top:0;}
.dep_third .dep_third_foot .type1{width:100%;max-width:260px;height:35px;background-position:50% -35px;}
.dep_third .dep_third_foot .type2{width:100%;max-width:260px;height:37px;background-position:50% -37px;}
.dep_third .dep_third_foot.s2s1 .tit1{background-image:url("/img/s2/s2s1_title1_hover.png");}
.dep_third .dep_third_foot.s2s1 .tit2{background-image:url("/img/s2/s2s1_title2_hover.png");}
.dep_third .dep_third_foot.s2s1 .tit3{background-image:url("/img/s2/s2s1_title3_hover.png");}
.dep_third .dep_third_foot.s2s1 .tit4{background-image:url("/img/s2/s2s1_title4_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit1{background-image:url("/img/s2/s2s2_title1_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit2{background-image:url("/img/s2/s2s2_title2_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit3{background-image:url("/img/s2/s2s2_title3_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit4{background-image:url("/img/s2/s2s2_title4_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit5{background-image:url("/img/s2/s2s2_title5_hover.png");}
.dep_third .dep_third_foot.s2s2 .tit6{background-image:url("/img/s2/s2s2_title6_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit1{background-image:url("/img/s2/s2s3_title1_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit2{background-image:url("/img/s2/s2s3_title2_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit3{background-image:url("/img/s2/s2s3_title3_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit4{background-image:url("/img/s2/s2s3_title4_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit5{background-image:url("/img/s2/s2s3_title5_hover.png");}
.dep_third .dep_third_foot.s2s3 .tit6{background-image:url("/img/s2/s2s3_title6_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit1{background-image:url("/img/s2/s2s4_title1_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit2{background-image:url("/img/s2/s2s4_title2_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit3{background-image:url("/img/s2/s2s4_title3_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit4{background-image:url("/img/s2/s2s4_title4_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit5{background-image:url("/img/s2/s2s4_title5_hover.png");}
.dep_third .dep_third_foot.s2s4 .tit6{background-image:url("/img/s2/s2s4_title6_hover.png");}
.dep_third .dep_third_foot.s2s6 .tit1{background-image:url("/img/s2/s2s6_title1_hover.png");}
.dep_third .dep_third_foot.s2s6 .tit2{background-image:url("/img/s2/s2s6_title2_hover.png");}
.dep_third .dep_third_foot.s2s6 .tit3{background-image:url("/img/s2/s2s6_title3_hover.png");}
.dep_third .dep_third_foot.s2s6 .tit4{background-image:url("/img/s2/s2s6_title4_hover.png");}
.dep_third .dep_third_foot.s2s6 .tit5{background-image:url("/img/s2/s2s6_title5_hover.png");}
.dep_third .dep_third_foot .type1:focus,
.dep_third .dep_third_foot .type1:hover{background-position:50% 0;}
.dep_third .dep_third_foot .type2:focus,
.dep_third .dep_third_foot .type2:hover{background-position:50% 0;}

.s1s1_wrap > div{background-position:center top;background-repeat:no-repeat;}
.s1s1_wrap > div.box1{height:1245px;background-image:url('/img/s1/s1s1_bg1.jpg');}
.s1s1_wrap > div.box2{height:1800px;background-image:url('/img/s1/s1s1_bg2.jpg');}
.s1s1_wrap > div.box3{height:1249px;background-image:url('/img/s1/s1s1_bg3.jpg');}
.s1s1_wrap > div.box4{height:700px;background-image:url('/img/s1/s1s1_bg4.jpg');}

.s1s3s1_wrap > div{background-position:center top;background-repeat:no-repeat;}
.s1s3s1_wrap > div.box1{height:747px;background-image:url('/img/s1/s1s3s1_bg1.jpg');}
.s1s3s1_wrap > div.box2{height:667px;background-image:url('/img/s1/s1s3s1_bg2.jpg');}
.s1s3s1_wrap > div.box3{height:789px;background-image:url('/img/s1/s1s3s1_bg3.jpg');}
.s1s3s1_wrap > div.box4{height:386px;background-image:url('/img/s1/s1s3s1_bg4.jpg');}
.s1s3s1_wrap > div.box5{padding:205px 0 50px;background-image:url('/img/s1/s1s3s1_bg5.jpg');background-color:#f5f4f0;}

.s1s3s2_wrap > div{background-position:center top;background-repeat:no-repeat;}
.s1s3s2_wrap > div.box1{height:747px;background-image:url('/img/s1/s1s3s2_bg1.jpg');}
.s1s3s2_wrap > div.box2{height:434px;background-image:url('/img/s1/s1s3s2_bg2.jpg');}
.s1s3s2_wrap > div.box3{height:788px;background-image:url('/img/s1/s1s3s2_bg3.jpg');}
.s1s3s2_wrap > div.box4{height:386px;background-image:url('/img/s1/s1s3s2_bg4.jpg');}
.s1s3s2_wrap > div.box5{height:998px;background-image:url('/img/s1/s1s3s2_bg5.jpg');}

.s1s3s3_wrap > div{background-position:center top;background-repeat:no-repeat;}
.s1s3s3_wrap > div.box1{height:747px;background-image:url('/img/s1/s1s3s3_bg1.jpg');}
.s1s3s3_wrap > div.box2{height:434px;background-image:url('/img/s1/s1s3s3_bg2.jpg');}
.s1s3s3_wrap > div.box3{height:788px;background-image:url('/img/s1/s1s3s3_bg3.jpg');}
.s1s3s3_wrap > div.box4{height:386px;background-image:url('/img/s1/s1s3s3_bg4.jpg');}
.s1s3s3_wrap > div.box5{height:1600px;background-image:url('/img/s1/s1s3s3_bg5.jpg');}

.s1s3s4_wrap > div{background-position:center top;background-repeat:no-repeat;}
.s1s3s4_wrap > div.box1{height:747px;background-image:url('/img/s1/s1s3s4_bg1.jpg');}
.s1s3s4_wrap > div.box2{height:434px;background-image:url('/img/s1/s1s3s4_bg2.jpg');}
.s1s3s4_wrap > div.box3{height:788px;background-image:url('/img/s1/s1s3s4_bg3.jpg');}
.s1s3s4_wrap > div.box4{height:628px;background-image:url('/img/s1/s1s3s4_bg4.jpg');}
.s1s3s4_wrap > div.box5{height:591px;background-image:url('/img/s1/s1s3s4_bg5.jpg');}
.s1s3s4_wrap > div.box6{height:385px;background-image:url('/img/s1/s1s3s4_bg6.jpg');}

.s6s1_wrap{min-height:1578px;background:url('/img/s6/s6s1_bg.jpg') no-repeat center top #000;}
.s6s1_wrap > div{width:1414px;margin:0 auto;padding:305px 0 100px;}
.s6s1_wrap > div .headgroup{height:190px;text-align:center;}
.s6s1_wrap > div .headgroup h2{line-height:1;padding-top:40px;font-size:80px;font-weight:bold;color:#120500;letter-spacing:-1px;}
.s6s1_wrap > div .headgroup .copy1{padding-top:5px;font-size:16px;color:#120500;}
.s6s1_wrap > div .social_stream_wrap{
	padding-bottom:50px;background-color:#feda00;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
}
.s6s3_wrap{height:2986px;background:url('/img/s6/s6s3_bg.jpg') no-repeat center top;}


/* STR members */
.login_box{width:600px;margin:0 auto;padding:50px 100px;border-top:2px solid #888;border-bottom:1px solid #ccc;}
.login_box input[type="text"],
.login_box input[type="password"]{width:100%;padding:15px;margin-bottom:10px;border:1px solid #d8d8d8;}
.login_box .checkbox_box{position:relative;font-size:16px;}
.login_box .checkbox_box input{position:absolute;top:2px;left:2px;}
.login_box .checkbox_box label{position:relative;display:inline-block;height:30px;line-height:30px;padding-left:40px;cursor:pointer;}
.login_box .checkbox_box label:after{content:"";position:absolute;top:0;left:0;width:30px;height:30px;background:url('/img/common/chk_box1.png') no-repeat;}
.login_box .checkbox_box input:checked + label:after,
.login_box .checkbox_box input label.active:after{background-position:0 -30px;}
.login_box button{width:100%;margin-top:20px;padding:15px 0;border:0 none;background-color:#bb1a29;color:#fff;font-weight:bold;font-size:18px;}
.login_bt_box{margin-top:10px;text-align:center;font-size:0;}
.login_bt_box a{position:relative;display:inline-block;padding:10px 40px;font-size:16px;}
.login_bt_box a:after{content:"";position:absolute;top:50%;left:0;width:1px;height:16px;margin-top:-8px;background-color:#ccc;}
.login_bt_box a:first-child:after{display:none;}

.mem_lost_box{width:600px;margin:0 auto;}
.mem_lost_box .lost_tab{position:relative;height:60px;margin-bottom:40px;}
.mem_lost_box .lost_tab:before{content:"";z-index:2;position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#bb1a29;}
.mem_lost_box .lost_tab:after{content:"";clear:both;display:block;height:0;line-height:0;}
.mem_lost_box .lost_tab a{position:relative;float:left;width:200px;margin-left:-2px;border:2px solid #888;height:60px;line-height:60px;text-align:center;font-weight:bold;font-size:16px;color:#666;}
.mem_lost_box .lost_tab a.active{z-index:3;border:2px solid #bb1a29;color:#bb1a29;}
.mem_lost_box .lost_tab a.active:after{content:"";position:absolute;bottom:-2px;left:0;width:100%;height:2px;background-color:#f5f4f0;}
.mem_lost_box .lost_tab a:first-child{margin-left:0;}
.mem_lost_box .form_box{}
.mem_lost_box .form_box .input_box{padding:0 100px 50px;border-bottom:1px solid #ccc;}
.mem_lost_box .form_box input[type="text"]{width:100%;padding:15px;margin-bottom:10px;border:1px solid #d8d8d8;}
.mem_lost_box .inpu_title1{margin-bottom:5px;font-size:16px;color:#666;font-weight:bold;}
.mem_lost_box button,
.mem_lost_box .a_bt1{display:block;width:400px;line-height:1;margin:20px auto 0;padding:15px 0;border:0 none;background-color:#bb1a29;color:#fff;font-weight:bold;font-size:18px;text-align:center;}
.mem_lost_success .copy{padding:80px 100px 100px;border-bottom:1px solid #ccc;color:#666;font-weight:bold;text-align:center;}
.mem_lost_success .copy b{color:#bb1a29;}

.register_form{width:1080px;margin:0 auto;padding-top:30px;border-top:2px solid #888;}
.register_form .info_wrap{overflow-y:auto;height:120px;padding:20px 18px;border:1px solid #d8d8d8;background-color:#fff;}
.register_section{margin-top:30px;}
.register_section.mt1{margin-top:50px;}
.register_section.fr{margin-top:0px;}
.register_section h3{margin-bottom:10px;font-size:16px;}
.register_section .checkbox_box_wrap{margin-top:10px;text-align:right;}
.register_section .checkbox_box{display:inline-block;position:relative;font-size:16px;}
.register_section .checkbox_box input{position:absolute;top:2px;left:2px;}
.register_section .checkbox_box label{position:relative;display:inline-block;height:30px;line-height:30px;padding-left:40px;cursor:pointer;}
.register_section .checkbox_box label:after{content:"";position:absolute;top:0;left:0;width:30px;height:30px;background:url('/img/common/chk_box1.png') no-repeat;}
.register_section .checkbox_box input:checked + label:after,
.register_section .checkbox_box input label.active:after{background-position:0 -30px;}

.register_section .radio_box_wrap{}
.register_section .radio_box_wrap .radio_box{margin-right:30px;}
.register_section .radio_box{display:inline-block;position:relative;font-size:16px;}
.register_section .radio_box input{position:absolute;top:5px;left:5px;}
.register_section .radio_box label{position:relative;display:inline-block;height:30px;line-height:30px;padding-left:40px;cursor:pointer;}
.register_section .radio_box label:after{content:"";position:absolute;top:0;left:0;width:30px;height:30px;background:url('/img/common/radio_box1.png') no-repeat;}
.register_section .radio_box input:checked + label:after,
.register_section .radio_box input label.active:after{background-position:0 -30px;}

.register_section .submit_bt{margin-top:30px;text-align:center;}
.register_section .submit_bt button{padding:15px 70px;border:0 none;background-color:#bb1a29;color:#fff;font-weight:bold;font-size:18px;}

.w_table1_wrap{border-top:2px solid #888;}
.w_table1_wrap .bt_01{margin-left:10px;padding:14px 15px;border:0 none;background-color:#666666;color:#fff;font-size:16px;}
.w_table1_wrap .copy01{padding-left:10px;color:#bb1a29;font-size:15px;}
.w_table1_wrap .text_t{vertical-align:top;}
.w_table1_wrap .addr_box{margin-top:10px;}
.w_table1_wrap .addr_search{position:relative;display:inline-block;}
.w_table1_wrap .addr_search button{position:absolute;top:50%;right:10px;line-height:1;padding:5px 15px;margin-top:-12px;border:1px solid #d8d8d8;background-color:#f7f7f7;font-size:12px;}
.w_table1_wrap table tr{border-bottom:1px solid #ccc;}
.w_table1_wrap table th{padding:10px 20px;font-size:16px;}
.w_table1_wrap table td{padding:10px 15px;font-size:16px;}
.w_table1_wrap table tbody th{background-color:#e8e8e4;text-align:left;}
.w_table1_wrap table input[type="text"],
.w_table1_wrap table input[type="password"],
.w_table1_wrap table select{padding:15px;border:1px solid #d8d8d8;background-color:#fff;}

.register_result{width:1080px;margin:0 auto;border-top:2px solid #888;}
.register_result .copy_box{padding:50px 125px;border-bottom:1px solid #ccc;}
.register_result .copy_box > div{
	padding:180px 0 50px;background:url('/img/common/register_result_bg.png') no-repeat center 40px #e8e8e4;text-align:center;font-size:18px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.register_result .copy_box > div b{color:#444;}
.register_result .bt_box{margin-top:30px;text-align:center;}
.register_result .bt_box a{display:inline-block;min-width:400px;padding:15px 70px;border:0 none;background-color:#bb1a29;color:#fff;font-weight:bold;font-size:18px;}
/* END members */